/**************************************
* CSS formats and styles for CIT230 
*  pages and elements.
**************************************/
header {
    background: #0076c6;
    border-radius: 10px;
    padding: 15px;
    color: white;
}

header > h1 {
    display: inline;
    padding: 10px;
}

header > img {
    max-width: 300px;
    float: right;
    border-radius: 10px;
    margin-bottom: 15px;
    text-emphasis: none;
}

@media screen and (max-width: 699px) {
    header > img {
        display: none;
    }
}

div.main-content {
    margin: 0 0 0 25px;
}

footer {
    clear: both;
    text-align: center;
    background: #1a1a1d;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

footer > p > a:link,
footer > p > a:visited,
footer > p > a:hover {
    color: white !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

p, li, span {
    font-family: 'Roboto', sans-serif;
}