@media only screen and (min-width: 32.5em) {
    header h1 {
        font-size: 25px;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        /* needed because of state in small view */
    }

    .navigation li:first-child {
        display: none;
    }

    .contentBox {
        max-width: 90%;
    }

    footer {
        max-width: 90%;
        margin: 0 auto;
    }

    header .weatherSiteLogo {
        width: 110px;
    }
}