/**************************************
* CSS formats and styles for CIT230 
*  pages and elements.
**************************************/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

body {
    margin: 0px;
}

/*************************************
* COLOR FORMATTING
*************************************/
:root {
    --primary-color: #36558F;
    --secondary-color: #30323D;
    --accent-color: #E8C547;
}

/*************************************
* NAV FORMATTING
*************************************/
nav {
    background: var(--secondary-color);
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

nav ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin-bottom: 15px;
}

nav ul li {
    display: inline;
    background: var(--secondary-color);
    padding: 15px;
    margin: 0 -2px;
    list-style-type: none;
    display: block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin: 0 0px;
}

@media screen and (min-width: 768px) {
    nav ul {
        display: flex;
    }

    nav ul li a {
        flex: 1 1 100%;
    }
}

/*************************************
* HEADER FORMATTING
*************************************/
header {
    background: var(--primary-color);
    margin: 0px;
    padding: 0px;
    color: white;
}

header>h1 {
    padding: 15px;
    margin: 0px;
}

@media screen and (max-width: 768px) {
    header>h1 {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 699px) {
    header>img {
        max-width: 50px;
    }
}

/*************************************
* MAIN CONTENT FORMATTING
*************************************/
main {
    margin: 0 300px;
    padding-bottom: 15px;
}

main img {
    width: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

p,
li,
span,
a,
table * {
    font-family: 'Roboto', sans-serif;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
}

.colors td {
    width: 25%;
    height: 3em;
    color: white;
}

.primary {
    background-color: #36558F;
}

.secondary {
    background-color: #30323D;
}

.accent1 {
    background-color: #E8C547;
}

.accent2 {
    background-color: #90BEDE;
}


@media screen and (max-width: 1439px) {
    main {
        margin: 0 15px;
    }
}

/*************************************
* FOOTER FORMATTING
*************************************/
footer {
    clear: both;
    text-align: center;
    background: var(--secondary-color);
    color: white;
    padding: 10px;
    margin: 0px;
}

footer>p>a:link,
footer>p>a:visited,
footer>p>a:hover {
    color: white !important;
}